body {
  margin: auto;
  font-family: $font-family-base;
}

.main_page {
  display: flex;
  flex-wrap: nowrap;

  .primary_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $main-background;
    border: none;
    cursor: pointer;
    box-shadow: $shadow-button;
    transition: all 800ms;

    &:hover {
      box-shadow: $shadow-button-hover;
    }
  }

  .work_panel {
    background: #ede4e2;
    width: 70%;
    min-height: 100vh;
    height: 100%;
    position: relative;

    .frame {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .fabric {
      background-color: white;
      box-shadow: 17.5px 35px 70px 0 #c59a9a;
      position: relative;
      width: 54.3vh;
      height: 80vh;
      max-width: 50vw;
      max-height: 70vw;

      &:after {
        content: "";
        position: absolute;
        top: -1.75%;
        left: -2%;
        bottom: -1.75%;
        right: -2%;
        width: calc(100% + 4%);
        height: calc(100% + 3.5%);
        background-image: url(/images/poster-rahmen.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 999;
        pointer-events: none;
      }
    }

    .question_button {
      border-radius: 50px;
      position: absolute;
      z-index: 9999;
      width: 70px;
      height: 70px;
      top: 2%;
      right: 2%;

      &_image {
        min-width: 70px;
      }

      &:hover {
        box-shadow: $shadow-button-hover;
      }
    }
  }

  .left_sidebar {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    height: 100%;
    max-width: 30%;

    .title {
      font-family: $font-family-title;
      font-weight: lighter;
      font-size: 36px !important;
    }

    .position_title {
      color: #193C48;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 1.6;
      letter-spacing: 2px;
      margin: 30px 0 15px 0;
    }

    .reset-position {
      text-decoration: none;
      padding: 0.6em 1.6em;
      color: white;
      background: $main-background;
      border-radius: 30px;
      display: inline-block;
      position: relative;
      overflow: hidden !important;
      z-index: 2;
      border: 0;
      letter-spacing: 1px;
      margin-right: 10px;
      margin-bottom: 8px;
      font-size: 10px;
    }

    .color_avatar {
      min-width: 30px !important;
      width: 30px !important;
      height: 30px !important;
      border-radius: 20px !important;
      margin-right: 10px;

      &:hover {
        box-shadow: 0 0 0 2px white, 0 0 0 4px $main-background;
        transition: all 400ms;
      }
    }

    .active_button {
      box-shadow: 0 0 0 2px white, 0 0 0 4px $main-background;
      transition: all 400ms;
    }

    .v-input   {
      &--is-focused .v-input {
        &__slot {
          border: 2px solid $main-background !important;
        }
      }
    }
  }
}


