$font-family-base: 'Montserrat', sans-serif;
$font-family-title: 'EndOfYear', sans-serif !important;
$main-background: #e69a9a;
$shadow-button: 10px 20px 40px 0 #e69a9a80;
$shadow-button-hover: 10px 20px 40px 0 rgba(255, 84, 84, 0.5);
